.DS_Store
.Rhistory
.Rproj.user/
*.o
*.so
legacy/
.Rproj.user
.Rproj
playground.R
Tune/XLearner/tuneXRsparseT2weak12N1000.csv
*~
!.github
*.out
*.Rout
*.csv
*#
tests/crashes/Rdies.R
SimulationsStudies/ACIC2016/data/data/readme.txt
tests/ConfidenceIntervals/
tests/performance/CATEestimators/sim_figures/
inst/doc
tests/performance/CATEestimators/figs/
tests/memory/free_memory_Problem.R

crashes/currentWS.RData

DESCRIPTION.orig
NUL

*.Rda

*.log
*.tar.gz

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_*
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
!**/.gitignore
!.gitmodules
*.cbp
