[submodule "pybind11"]
	path = Python/extension/include/pybind11
	url = https://github.com/pybind/pybind11.git
	branch = v2.10
[submodule "armadillo"]
	path = Python/extension/include/armadillo
	url = https://gitlab.com/conradsnicta/armadillo-code.git
	branch = 12.2.x
[submodule "catch2"]
	path = tests/cpp/include/Catch2
	url = https://github.com/catchorg/Catch2.git
	branch = devel
[submodule "rapidjson"]
	path = src/rapidjson
	url = https://github.com/Tencent/rapidjson.git
	branch = master
